.movieInfoWrap {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  will-change: transform;
}

.movieInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.spanStyle {
  color: white;
  margin-right: 15px;
  text-shadow: 0px 1px black;
  font-size: 14px;
}

.aboutMovie {
  color: white;
  font-size: 14px;
  text-shadow: 0px 1px black;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  color: white;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
}

.closeBtn:hover {
  transform: scale(1.2);
}

.movieGenre {
  margin-right: 5px;
  font-size: 14px;
}

.movieGenre::after {
  content: " |";
  font-size: 10px;
  padding: 5px;
}

.movieGenre:last-child::after {
  content: "";
}
