.movieInfo::-webkit-scrollbar {
  width: 0.2em;
}

.movieInfo::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}

.movieInfo::-webkit-scrollbar-thumb {
  background-color: rgba(255, 230, 12, 0.3);
}

.bkShadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    -30deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.movieInfoWrap {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  will-change: transform;
}

.movieInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
}

.spanStyle {
  color: white;
  margin-right: 15px;
  text-shadow: 0px 1px black;
  font-size: 14px;
}

.aboutMovie {
  color: white;
  font-size: 14px;
  text-shadow: 0px 1px black;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0 5px 5px 5px;
  color: white;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
}

.closeBtn:hover {
  transform: scale(1.2);
}

.movieGenre {
  margin-right: 5px;
  font-size: 14px;
  flex-shrink: 0;
}

.movieGenre::after {
  content: " |";
  color: #ffb400;
  font-size: 10px;
  padding: 5px;
}

.movieGenre:last-child::after {
  content: "";
}

/*MOVIE CAST  */

.movieCast {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  flex-shrink: 0;
}

.castMemberWrap {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.castMember {
  height: 35px;
  width: 35px;
  background: white;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  transition: transform 150ms ease-out;
}

.castMember:hover {
  transform: scale(1.2);
}

/*PLAY TRAILER  */

.movieTrailer {
  margin-top: 20px;
  height: 35px;
  background: #ff0037;
  display: flex;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  flex-shrink: 0;
}

.trailerIcon {
  border-right: 1px solid white;
  height: 60%;
  display: flex;
  align-items: center;
  padding: 0 10px 0 5px;
  margin: 10px;
}

.trailerText {
  margin-right: 15px;
  color: white;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
